*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: black;
    background-image: url(/IMG/jer.jpg);
    background-attachment: fixed;
    height: 100vh;
}

.container
{
    width: 780px;
    height: 890px;
    justify-content: center;
    margin: auto;
}


.header
{
    width: 100%;
    height: 290px;
    padding-bottom: 30px;
}

.logo
{
    width: 100%;
    height: 130px;
}

img
{
    width: 100%;
    height: 130px;
    border-radius: 7px;
    filter: drop-shadow(25px 0 25px rgba(246, 61, 61, 0.5));

}

.nave
{
    width: 100%;
    height: 90px;
    color: white;
    display: flex;
    padding-top: 70px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ull
{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
}

.ull li:hover
{
    background-color: black;
    border-radius: 20px;
    width: 90px;
    text-align: center;
}

.ull li.V_L:hover
{
    background-color: rgb(109, 255, 253);
    color: white;
}

.ull li.x_100:hover
{
    background-color: rgb(255, 60, 0);
    color: white;
    width: 17%;
}

.title
{
    text-align: center;
    color: white;
    width: 100%;
    height: 55px;
}

.title h1:hover 
{
    cursor: pointer;
    
}

h1
{
    font-size: 1em;
    padding-bottom: 15px;
}

.container_section
{
    display: flex;
    width: 780px;
    filter: drop-shadow(10px 0 15px rgba(252, 23, 23, 0.5));
}


.article1
{
    /*background-color: rgb(249, 29, 8);*/
    width: 470px;
    height: 450px;
    
}

.form
{
    background-color: azure;
    border-radius: 5px;
    width: 300px;
    height: 430px;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container_section  .article1
{
    animation: move-will 5s linear infinite;

}

@keyframes move-will
{
    0%{
        transform: translateY(15px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(15px);
    }
}
    

.article2
{
    /*background-color: rgb(42, 245, 204);*/
    width: 400px;
    height: 450px;
    filter: drop-shadow(10px 0 20px rgba(246, 61, 61, 0.5));
}


.article2 table.tablas
{
   width: 400px; 
   animation: move-will 5s linear infinite;
}

@keyframes move-will
{
    0%{
        transform: translateY(25px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(25px);
    }
}

p
{
    color: white;
    text-align: center;
}

h2
{
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 5px;
}

th.n
{
    width: 35px;
    height: 25px;
}

th.nombre 
{
    width: 150px;
}

th.precio
{
    width: 75px;
}



td.chinita
{
   width: 40px;
}

.name
{
    gap: 1;
    padding-top:25px;
    display: flex;
}

.label
{
    width: 85px;
    cursor: pointer;
}

.input
{
    cursor: pointer;
}

.pato
{
    width: 64%;
    height: 22px;
}

.buttonn
{
    display: flex;
    padding-top: 5%;
    justify-content: center;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    
}

.btn
{
   background-color: black;
   text-align: center;
   border-radius: 5px;
   cursor: pointer;
   color: white;
   width: 75px;
   height: 25px; 
}

.buttonn  .btn:hover
{
    background-color: red;
}

.tablas
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /*background-color: blue;*/
    width: 100%;
    color: white;
    border-color: black;
    height: 350px;
    border: none;
    list-style: none;
    text-align: center;
    margin: auto;
}


tr
{
    list-style: none;    
    border: none;
    border-color: black;
    gap: 1;
}


.tablas tr th:hover
{
    background-color: rgb(14, 12, 12);
    cursor: pointer;
}


.luz  .chinit:hover 
{
    background-color: red;
    cursor: pointer;
}


.luz  .The_Best:hover 
{
    background-color: #00ffd0;
    cursor: pointer;
}

.luz  .lyan:hover 
{
    background-color: yellow;
    cursor: pointer;
}

h3
{
    color: white;
    text-align: center;
    padding: 10px;
}

p
{
    text-align: center;
    justify-content: center;
    padding: 15px;
}

img.image
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    filter: drop-shadow(10px 0 15px rgba(246, 61, 61, 0.5));
    margin: auto;
    padding-bottom: 20px;
    width: 25%;
}

.comput img.image
{
    width: 25%;
    animation: move-will 5s linear infinite;
}

@keyframes move-will
{
    0%{
        transform: translateY(25px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(25px);
    }
}



